@{
    ViewBag.Title = "Landing";
}


<style>
    body {
        background-image: url("http://hdwallpaperdaily.com/wp-content/uploads/2014/08/green-farmland-patches-wallpaper.jpg");
        background-color: #cccccc;
    }

    h1 {
        font-family: 'Helvetica', ;
        color: rgb(241, 231, 231);
        font-size: 100px;
        font-weight:bolder;
    }

    .titleImage {
        border: solid;
        border-style: solid;
        border-color: black;
        background-color: rgba(75, 90, 167, 0.73);
    }

    p {
        color: white;
    }

    .inputBox {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.60), 0 15px 35px 0 rgba(0, 0, 0, 0.80);
    }

    .login-panel {
        margin-top:200px;
        padding:20px;
        position:fixed;
    }
    #bgfonts {
        position:fixed;
    }

    .form-group {
        margin-left:30px;
    }
</style>
<div id="bgfonts" class="col-md-6">
    <h1>farm connect    مزرعة الاتصال</h1>
</div>
<div class="container" ng-controller="landingController as LandCtrl">

    <div class="row">

        <div class="row ">
            <div class="col-md-4 col-md-offset-4 center text-center">
                <div class="login-panel panel panel-default inputBox col-md-3">
                    <h3>Find other farmers. Share knowledge.</h3>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" ng-model="LandCtrl.information.name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="LandCtrl.information.latitude" placeholder="Latitude">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="LandCtrl.information.longitude" placeholder="Longitude">
                                </div>
                                <a href="Index/{{LandCtrl.information.name}}/{{LandCtrl.information.latitude}}/{{LandCtrl.information.longitude}}/" ng-click="LandCtrl.submit()" class="btn btn-lg btn-success btn-block"> <i class="fa fa-heart"></i>Find Me!</a>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    @section scripts{
        <script>

            (function () {

                "use strict";

                $(".navbar").hide();

                angular.module("app").controller("landingController", LandingController);

                LandingController.$inject = ["$scope"];

                function LandingController($scope) {

                    var vm = this;
                    vm.$scope = $scope;
                    vm.information = {};
                    vm.submit = _submit;

                    function _submit() {
                        console.log(vm.information);
                    }
                }
            }());
        </script>
    }
